  <div class="container-scroller">
    <nav class="navbar fixed-top">
        <app-nav></app-nav>
    </nav>
    <div class="container-fluid page-body-wrapper">
        <app-sidebar></app-sidebar>
        <div class="main-panel">
            <div class="content-wrapper">
                <app-page-header  [pageTitle]="'Categoria'" ></app-page-header>

                 <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                               <form class="forms-sample" (ngSubmit)="create()">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Tipo Categoria</label>
                                        <select class="form-control form-control-lg" [formControl]="tipoCategoria" id="tipoCategoria">
                                            <option [value]="0" disabled>SELECIONE UMA OPÇÃO</option>
                                            <option [value]="1">DESPESA</option>
                                            <option [value]="2">RECEITA</option>
                                        </select>
                                        <div *ngIf="tipoCategoria.invalid && tipoCategoria.touched">
                                            <small class="text-danger">O campo é obrigatório</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputName1">Descrição</label>
                                        <input 
                                            [formControl]="descricao" 
                                            type="text" class="form-control" 
                                            id="descricao" 
                                            (ngModelChange)="onDescricaoChange($event)" 
                                            placeholder="Descrição"
                                        >
                                        <div *ngIf="descricao.invalid && descricao.touched">
                                            <small class="text-danger">O campo é obrigatório</small>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success mr-2" [disabled]="descricao.invalid || tipoCategoria.invalid">Submit</button>
                                    <button type="button" class="btn btn-light" (click)="resetForm()">Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div> 
                </div> 
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>